<%= render 'shared/userinfo', :user => @user %>
<h1><%= gravatar_for @user %><%= @user.name %></h1>
<% unless @user.microposts.empty? %>
  <%= will_paginate @microposts %>
<ul class="microposts">
  <%= render @microposts %>
</ul>
<% end %>
