<p>
<span class="avatar">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
</span>
<span class="user">
  <%= link_to feed_item.user.name, feed_item.user %>
</span>
<date><%= time_ago_in_words(feed_item.created_at) %> ago</date>
<% if current_user? feed_item.user %>
  <%= link_to "delete", feed_item, :method => :delete, :confirm => 'are you sure ?' %>
<% end %>
<span class="content">
<%= feed_item.content %>
</span>
</p>
